@charset "Utf-8";

* {
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #5B89A6, #426A8C);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #33526dbb;
    width: 500px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #101C26;
    text-align: center;
    text-shadow: 1px 1px 2px #0d1820d2;
}

h2{
    color: #4a6874;
    text-align: center;
}

p {
  text-align: justify;
}
h3 {
    color: white;
    text-align: center;
}